<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org/">
<head>
    <div th:replace="common :: head"></div>

</head>

<body>
<!--Main Navigation-->
<div th:replace="common :: header"></div>

<!--Main Navigation-->

<!--Main layout-->
<main style="margin-top: 58px">
    <div class="container pt-4">
        <section>
            <div class="row">
                <div class="col-xl-3 col-sm-6 col-12 mb-4">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex justify-content-between px-md-1">
                                <div>
                                    <h3 class="text-info" th:text="${studentLength}"></h3>
                                    <p class="mb-0">Students</p>
                                </div>
                                <div class="align-self-center">
                                    <i class="fas fa-user text-info fa-3x"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-sm-6 col-12 mb-4">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex justify-content-between px-md-1">
                                <div>
                                    <h3 class="text-info">278</h3>
                                    <p class="mb-0">Subjects</p>
                                </div>
                                <div class="align-self-center">
                                    <i class="fas fa-book text-info fa-3x"></i>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-sm-6 col-12 mb-4">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex justify-content-between px-md-1">
                                <div>
                                    <h3 class="text-warning">156</h3>
                                    <p class="mb-0">Exam Results</p>
                                </div>
                                <div class="align-self-center">
                                    <i class="fas fa-graduation-cap text-warning fa-3x"></i>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </section>


    </div>
</main>
<!--Main layout-->


<div th:replace="common :: footer"></div>


</body>
</html>