<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org/">
<head>
    <div th:replace="common :: head"></div>
</head>

<body>
<!--Main Navigation-->
<div th:replace="common :: student"></div>
<!--Main Navigation-->

<!--Main layout-->
<main style="margin-top: 58px">
    <div class="container pt-4">
       <div class="container">
           <div class="row alert alert-success" th:if="${message}" th:text="${message}"></div>
           <div class="row">
            <div class="col mb-4">  <a  th:href="@{/student/create}" class="btn btn-success" >Create Student</a></div>
           </div>
           <div class="col"></div>
           <div class="row">
               <section>
                   <table id="student-table" class="table table-striped" cellspacing="0" width="100%">
                       <thead>
                       <tr>
                           <th class="th-sm">Name
                           </th>
                           <th class="th-sm">Age
                           </th>
                           <th class="th-sm">Address
                           </th>
                           <th class="th-sm">Date of Birth
                           </th>
                           <th class="th-sm">Gender
                           </th>

                           <th class="th-sm">Action
                           </th>
                       </tr>
                       </thead>
                       <tbody>
                       <tr th:each="student : ${students}">
                           <td th:text="${student.name}"></td>
                           <td th:text="${student.age}"></td>
                           <td th:text="${student.address}"></td>
                           <td th:text="${student.dob}"></td>
                           <td th:text="${student.gender}"></td>

                           <td>
                               <a  class="btn btn-warning" th:href="@{/student/{id}(id=${student.studentId})}">View</a>
                               <a  class="btn btn-info" th:href="@{/student/update/{id}(id=${student.studentId})}" >update</a>
                               <a  class="btn btn-danger delete_student_button" th:attr="data-id = ${student.studentId}">delete</a>
                               <!-- Button trigger modal -->
                           </td>
                       </tr>
                       </tbody>
                   </table>

               </section>
           </div>
           <div class="row">


               <!-- Modal -->
               <div
                       class="modal fade"
                       id="delete_student_modal"
                       tabindex="-1"
                       aria-labelledby="exampleModalLabel"
                       aria-hidden="true"
               >
                   <div class="modal-dialog">
                       <div class="modal-content">
                           <div class="modal-header">
                               <h5 class="modal-title" id="exampleModalLabel">Delete Student</h5>
                               <button
                                       type="button"
                                       class="btn-close"
                                       data-mdb-dismiss="modal"
                                       aria-label="Close"
                               ></button>
                           </div>
                           <div class="modal-body">Are you sure want to delete this student?</div>
                           <div class="modal-footer">
                               <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">
                                   Close
                               </button>
                               <a th:href="@{/student/delete/{id}(id=_id_)}" id="delete_button_modal" class="btn btn-primary">Delete</a>
                           </div>
                       </div>
                   </div>
               </div>
           </div>
       </div>


    </div>
</main>
<!--Main layout-->
<div th:replace="common :: footer"></div>
</body>
</html>